* {
    margin: 0;
    padding: 0;
    font-family: "Lilita One", sans-serif;
/*   changes the font */
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
/*     light mode background color */
    color: white;
    transition: background 0.3s, color 0.3s;
/*   transition time between dark/light mode */
}

body.dark-mode {
    background: linear-gradient(135deg, #2c2c2c, #1a1a1a);
/*   dark mode background color */
    color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 4% 10%;
}

/* changes heading */
.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: white !important;
/*   keeps the font of the dark/light mode button white */
    margin-bottom: 20px; 
/* adds spacing under the title */
}

.container h1 img {
    width: 60px;
    margin-right: 10px;
}

.button-container {
    display: flex;
    gap: 15px; 
/* adds spacing between buttons */
    margin-bottom: 20px; 
/* adds spacing under the buttons */
}

.theme-toggle, .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#9418fd, #571094);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
/*   makes the button corners round */
    padding: 15px 25px;
    cursor: pointer;
    transition: 0.3s;
    width: 180px; 
/* makes both buttons the same width */
    height: 50px;
/* makes both buttons the same height */
}

.theme-toggle {
    background: linear-gradient(135deg, #B57EDC, #9370DB);
}

body.dark-mode .theme-toggle {
    background: linear-gradient(135deg, #555, #222);
}

.theme-toggle img, .btn img {
    width: 20px;
    margin-right: 8px;
}

/* container that holds the notes */
.notes-container {
    width: 100%;
    max-width: 600px;
}

.input-box {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: white;
    color: black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    outline: none;
}

body.dark-mode .input-box {
    background: #444;
    color: white;
}

/* places the delete icon inside the note box */
.input-box img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
